<div class="col-md-12">
  <div class="list">
    <%= link_to("Edit", edit_list_path(@list), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @list.title %></h2>
  <p><%= @list.description %></p>
</div>
