<div class="col-md-12">
  <div class="job">

  </div>
  <table class="table table-hover">

    <tbody>
      <% @jobs.each do |job| %>
        <tr>

          <td><%= link_to(job.title, job_path(job)) %></td>


          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
