<div class="pull-right">
  <%= link_to("上传简历", new_job_resume_path(@job), :class => "btn btn-default" ) %>
</div>
<h1> <%= @job.title %> </h1>
<thead>
  <tr>
   <td>职缺</td>
   <td>薪资上线</td>
   <td>薪资下线</td>
   <td>发刊时间</td>
 </tr>
</thead>
