<div class="col-md-12">
  <div class="group">
    <%= link_to("NEW", new_group_path, class: "btn btn-primary pull-right") %>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <td>标题</td>
        <td>内容</td>
        <td>薪资上限</td>
        <td>-</td>
        <td>薪资下限</td>
        <td>联系方式</td>
      </tr>
    </thead>

    <tboby>

        <tr>


        </tr>
    
    </tboby>
  </table>
</div>
