<% if @resume.errors.any? %>
	<div class="alert alert-error">
		<ul>
			<% @resume.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	
<% end %>


<div>
	<%= form_for @resume, url: job_resumes_path do |f| %>
		<%= f.file_field :attachment %>
		<%= f.submit "提交简历", class: "btn btn-primary" %>
	<% end %>
</div>