<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 JobListing
        <br>Design by
        <a href="http://derrickx-blog.logdown.com/" target=_new>Derrick</a>
    </p>
</footer>
